{% extends 'base.html.twig' %}

{% block title %}New Quack{% endblock %}

{% block myContent %}
    <div class="container">
        <h2>Create new Quack</h2>
    </div>
    <div class="container">
        {{ include('quack/_form.html.twig') }}
    </div>
    <div class="container">
        <a href="{{ path('app_quack_index') }}" class="btn btn-dark">Back</a>
    </div>

{% endblock %}
