{% extends 'base.html.twig' %}

{% block title %}Tag Index{% endblock %}

{% block myContent %}
    <h1>Tag index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Word</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.word }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_quack_index') }}">Back Home</a>
{% endblock %}
